<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Javier Osorio | Diseñador Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

    <header>
        <div class="container">
            <nav>
                <div class="nav-brand">
                    <a href="index.html">
                        <img src="/static/images/logo.png" alt="Javier" />
                    </a>
                </div>
                <div class="burger-menu-icon">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#landing-page">
                            <img src="/static/images/profile-pic.jpg" alt="Javier Osorio"
                                class="profile-pic nav-link" />
                            <span class="caption nav-link">Javier Osorio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#services" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="#projects" class="nav-link">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" target="_blank" class="nav-link">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#" target="_blank" class="nav-link">
                            <i class="fab fa-dev"></i>
                        </a>
                        <a href="#" target="_blank" class="nav-link">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <div class="cta">
                        <a href="#" target="_blank" class="btn nav-link">Buy Me Coffee</a>
                    </div>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <section id="landing-page" class="landing-page">
            <div class="container">
                <div class="main-message">
                    <h2>Javier Osorio</h2>
                    <h3>{Diseñador Web}</h3>
                    <p>Html . CSS . JavaScript . SQL . Python</p>
                    <div class="intro-btn">
                        <div class="cta">
                            <a href="#contact" class="btn">Get In Touch</a>
                        </div>
                        <div class="cta">
                            <a href="#projects" class="btn">My Projects</a>
                        </div>
                    </div>
                    <div>
                        <a href="#about" class="scroll-down">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <section id="about" class="about">
            <div class="container">
                <div class="about-img">
                    <img src="/static/images/profile-pic.jpg" alt="Chaoo Charles" class="about-pic" />
                </div>
                <div class="about-text-box">
                    <h2>Hola 🙋🏻‍♂️</h2>
                    <p>
                        Mi nombre es Javier Osorio, tengo 25 años de edad, estudie
                        Ingeniería en Negocios en Escuela Superior de Economía y
                        Negocios.
                    </p>
                    <p>
                        La meta que tengo como profesional es lograr solventar de manera
                        fácil y rápida los problemas diarios que surgen utilizando la
                        programación como herramienta principal.
                    </p>

                </div>
            </div>
            <hr />
        </section>

        <section id="services" class="services">
            <div class="container">
                <div class="title-heading">
                    <h2>INNOVAR TU NEGOCIO</h2>
                    <p>
                        Te ayudaré a lograr todos tus planes de la más eficiente
                        forma
                    </p>
                </div>
                <div class="service-tiers">
                    <div class="tier-item">
                        <i class="fa fa-chrome" aria-hidden="true"></i>
                        <h2>Web Development</h2>
                        <p>
                            Utilizar de mejor manera todos los recursos para lograr
                            una página web que cause una buena primera impresión a los
                            clientes, buscando el éxito de la empresa lo más rápido posible
                        </p>
                    </div>
                    <div class="tier-item">
                        <i class="fa fa-android" aria-hidden="true"></i>
                        <h2>Responsive Design</h2>
                        <p>
                            Crear aplicaciones para el uso de los clientes sea más
                            cómodo y versátil para ellos. Buscar la comodidad de los
                            clientes para que se sientan satisfechos con la empresa
                        </p>
                    </div>
                </div>
            </div>
            <hr />
        </section>

        <section id="projects" class="projects">
            <div class="title-heading">
                <h2>PROJECTS</h2>
                <p>Aqui estan algunos de mis projectos más recientes</p>
            </div>
            <div class="project-item">
                <div class="project-img has-margin-right">
                    <img src="/static/images/notas.png" />
                </div>
                <div class="project-description">
                    <h2>Project Progress Management System</h2>
                    <p>
                        Este es un programa que sirve para calcular las notas de los
                        estudiantes de ultimo año. Contiene dos roles distintos, uno
                        para los profesores y otro para los estudiantes. El de los
                        profesores tiene el derecho de agregar, eliminar o actualizar
                        notas y el de los estudiantes, solo para revisar sus notas.
                    </p>
                    <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View
                            Code</i></a>
                </div>
            </div>

            <div class="project-item">
                <div class="project-description has-margin-right">
                    <h2>To-do App</h2>
                    <p>
                        Este es una simple lista de las tareas que se tiene por semana,
                        organizada de una manera que se pueda ir determinando cuales
                        han sido terminadas y cuales no, informando el límite de tiempo
                        que se tiene para cada una de ellas.
                    </p>
                    <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View
                            Code</i></a>
                </div>
                <div class="project-img">
                    <img src="/static/images/check_list.png" />
                </div>
            </div>

            <div class="project-item">
                <div class="project-img has-margin-right">
                    <img src="/static/images/videojuegos.png" />
                </div>
                <div class="project-description">
                    <h2>Videogames</h2>
                    <p>
                        Este es un video juego que cree inspirandome en un mundo
                        ficticio. Desarrollé personajes especiales, jefes para cada
                        nivel del juego y objetos mágicos de ayuda. Cada nivel es
                        un piso en una torre gigante que cuenta con 200 pisos.
                    </p>
                    <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View
                            Code</i></a>
                </div>
            </div>
            <hr />
        </section>


        <section id="contact" class="contact">
            <h2>Get In Touch</h2>
            <p>
                Me encantaría que me contactaras para un trabajo, si no, solo
                para saludarme, con gusto te respondere.
            </p>
            <p>
                <i>Para oportunidades laborales, me gustaría que empezaras el mensaje con:
                    <strong>"OPORT"</strong></i>
            </p>
            <div class="container">
                <p>
                    <a href="mailto:chaoocharles@gmail.com"><i class="fas fa-envelope-open"></i>
                        javierosorio@gmail.com</a>
                </p>
                <p>
                    <a href="#" target="_blank"><i class="fa fa-youtube-play"> YouTube</i></a>
                </p>
                <p>
                    <a href="#" target="_blank"><i class="fa fa-skype"> Skype</i></a>
                </p>
                <p>
                    <a href="#" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
                </p>
            </div>
            <hr />
        </section>

        <footer>
            <div class="footer-nav">
                <a href="#landing-page" class="footer-nav-link">Home</a>
                <a href="#about" class="footer-nav-link">About</a>
                <a href="#services" class="footer-nav-link">Services</a>
                <a href="projects" class="footer-nav-link">Projects</a>
                <a href="#contact" class="footer-nav-link">Contact</a>
            </div>
            <div class="footer-coded-by">
                <p>
                    <i class="fas fa-code"></i> con 💙 por Javier Osorio &copy; 2020
                </p>
                <p>Hecho con HTML, CSS y JavaScript</p>
            </div>
            <div class="footer-social">
                <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="#" target="_blank"><i class="fab fa-skype"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </footer>

    </main>

    <script src="/static/main.js"></script>
</body>

</html>